# Real Time

<aside class='notice'>This is an experimental feature. Do not use it in production. Specifications can change at any time.</aside>

## Websockets

The real time API uses **websockets** to push devices information in real-time and it is based on the famous <a href="http://socket.io/">socket.io</a> library. We support WSS, WebSockets over SSL/TLS, like HTTPS. We also support fallback to long polling for older browsers.

`data-received` is currently the only available topic. Everytime a device publishes data to the platform data is pushed over the channel. With the same model as <a href="/#get-a-device">device `GET`</a>.

```shell
#See the javascript section
```

```javascript
io.connect('wss://ws.smartcitizen.me').on('data-received', doSomething);
```

<pre>
  <code class="highlight html">
    &lt;html&gt;
     &lt;head&gt;
      &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"&gt;&lt;/script&gt;
      &lt;style&gt;
        body {
          font-family: Helvetica, Arial, sans-serif;
          color: white;
          font-weight: bold;
        }
        div {
          float: left;
          display: block;
          background: #4FC9E8!important;
          margin: 5px;
          width: 100px;
          padding: 5px;
          height: 100px;
        }
      &lt;/style&gt;
      &lt;script&gt;
        io.connect('wss://ws.smartcitizen.me')
        .on('data-received',
         function(device) {
            document.body.innerHTML = document.body.innerHTML
            + "&lt;div&gt;" + device.data.name + "&lt;/div&gt;"
         });
      &lt;/script&gt;
     &lt;/head&gt;
     &lt;body&gt;
     &lt;/body&gt;
    &lt;/html&gt;
  </code>
  Live demo: <a href="http://codepen.io/pral2a/pen/jrPNzy">http://codepen.io/pral2a/pen/jrPNzy</a>
</pre>
